html:after {
    content: "";
    background-image: url("./images/aohige_intro.jpg"),
        url("./images/aohige_story1.jpg"), url("./images/aohige_schedule.jpg"), url("./images/ticketbg.jpg"), url("./images/footer.jpg");
}